<p><%= @game.player_1.name %> vs <%= @game.player_2.name %></p>
<p><%= @game.player_1.name %>: <%= @game.player_1.hit_points %>HP</p>
<%= @game.player_2.name %>: <%= @game.player_2.hit_points %>HP</p>
<%= @game.current_turn.name %> turn<br><br>

<a href='/attack'>Attack</a>